@import "compass/css3";
@import "compass/reset";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    padding:0;
    margin:0;
    list-style: none;
}

h2 {
    padding:0;
    margin:0 0 15px 0;
}

button {
    border-radius: 0;
    background: rgba(gray,0.7);
    border: 1px solid rgba(gray,0.9);
    color: white;
    margin: 0 5px 0 0;
}

.view-page {
    height: calc(100% - 18px);
}

.page-container {
    width: 100%;
    height: 100%;
    position: relative;

    .editor-view {
        width: 100%;
        height: 100%;
        position: relative;

        .panel-container {
            height: 100%;
            width: 100%;;
            background:#c0c0c0;
            display: inline-block;
            vertical-align: top;
            position: relative;

            .inline-panel {
                @include box-sizing(border-box);
                display: inline-block;
                width: 100%;
            }

            &.avatar-view-wrapper {
                width: calc(100% - 30%);

                .avatar-view-container {
                    height: 70%;
                    padding: 10px;
                    
                    .avatar-view {
                        background: white;
                        height: calc(100% - 16px);
                        width: 100%;
                    }
                }
                
                .avatar-frames-container {
                    height: 30%;
                    padding: 10px;

                    .frames-view {
                        background: white;
                        width: 100%;
                        height: calc(100% - 26px);
                    }
                }
            }

            &.actions-wrapper {
                width: 30%;
                @include box-sizing(border-box);
                padding: 10px;
            }
            
            .panel-list {
                height:calc(100% - 26px);
                background: white;
            }

            li {
                width: 100%;
                margin: 0 0 5px 0;

                span, input {
                    display: inline-block;
                }

                span {
                    width: 100px;
                }

                input {
                    width: calc(100% - 111px);
                }
            }
        }
    }
}